@import "./vars";

.category-wrapper-entered + .card-column-wrapper {
    padding-top: convertToVw(40);
    @media screen and (min-width: $MAX_WIDTH) {
        padding-top: convertToPx(40);
    }
}

.category {
    display: flex;
    // padding: convertToVw(15);
    width: convertToVw(375);
    overflow: auto;
    &-all-item {
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
            opacity: 0;
        }
    }
    @media screen and (min-width: $MAX_WIDTH) {
        .category {
            width: convertToPx(375);
            &-button {
                padding: convertToPx(5);
                font-size: convertToPx(14);
            }
            &-search {
                padding: convertToPx(5);
            }
        }
    }
    &-edit {
        &-wrapper {
            display: flex;
            left: 140px;
            top: 65px;
            margin-bottom: 15px;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-button {
        border: none;
        padding: convertToVw(5);
        background: #5f9ea054;
        font-size: convertToVw(14);
        cursor: pointer;
        transition: 0.2s ease-in;
        margin-left: 10px;

        &:hover {
            background: #5f9ea093;
        }
        @media screen and (min-width: $MAX_WIDTH) {
            padding: convertToPx(5);
            font-size: convertToPx(14);
        }
    }
    &-search {
        position: relative;
        border: none;
        font-size: convertToVw(14);
        padding: convertToVw(5);
        @media screen and (min-width: $MAX_WIDTH) {
            padding: convertToPx(5);
            font-size: convertToPx(14);
        }
        &-clear {
            background: none;
            border: none;
            @include VWandMediaPx(70, right);
            @include VWandMediaPx(11, top);
            position: absolute;
        }
    }
    &-add {
        border: 1px solid $BORDER_INPUT_COLOR;
        font-size: convertToVw(14);
        padding: convertToVw(5);
        margin: convertToVw(15) 0;
        @media screen and (min-width: $MAX_WIDTH) {
            padding: convertToPx(5);
            font-size: convertToPx(14);
            margin: convertToPx(15) 0;
        }
    }
    &-fixed {
        position: fixed;
        top: convertToVw(102);
        z-index: 3;
        background-color: #f3f3f3;
        box-shadow: 0px convertToVw(12) convertToVw(10) #0000001f;
        @media screen and (min-width: $MAX_WIDTH) {
            top: convertToPx(102);
            box-shadow: 0px convertToPx(12) convertToPx(10) #0000001f;
        }
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        width: convertToVw(375);
        padding: convertToVw(3) convertToVw(5) 0 0;
        font-size: convertToVw(12);
        align-items: baseline;

        transition: 0.1s ease-in;
        background: $BGC_MAIN;
        @media screen and (min-width: $MAX_WIDTH) {
            width: convertToPx(375);
            padding: convertToPx(3) convertToPx(5) 0 0;
            font-size: convertToPx(12);
            top: convertToPx(100);
        }
        &-entered {
            position: fixed;
            top: convertToVw(100);
            display: flex;
            justify-content: space-between;
            width: convertToVw(375);
            padding: convertToVw(3) convertToVw(5) 0 0;
            font-size: convertToVw(12);
            align-items: baseline;
            transition: 0.1s ease-in;
            background: $BGC_MAIN;
            box-shadow: 0px 3.2vw 2.66667vw #0000001f;
            @media screen and (min-width: $MAX_WIDTH) {
                width: convertToPx(375);
                padding: convertToPx(3) convertToPx(5) 0 0;
                font-size: convertToPx(12);
                top: convertToPx(100);
                box-shadow: 0px 3.2vw 2.66667vw #0000001f;
            }
        }
    }
    // &-wrapper {
    //     display: flex;
    //     justify-content: space-between;
    //     width: convertToVw(375);
    //     padding: convertToVw(3) convertToVw(5) 0 0;
    //     font-size: 12px;
    //     align-items: baseline;
    //     transition: 0.2s ease-in;
    //     position: fixed;

    //     &-copy {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: baseline;
    //         width: convertToVw(375);
    //         padding: convertToVw(3) convertToVw(5) 0 0;

    //         font-size: 12px;
    //         align-items: center;
    //         @media screen and (min-width: $MAX_WIDTH) {
    //             width: convertToPx(375);
    //             padding: convertToPx(3) convertToVw(5) 0 0;
    //         }
    // //     }
    //     &.entering {
    //         opacity: 1;
    //     }
    //     &.entered {
    //         opacity: 1;
    //         top: convertToVw(102);
    //         z-index: 3;
    //         background-color: #ededed;
    //         box-shadow: 0px convertToVw(12) convertToVw(10) #0000001f;
    //         @media screen and (min-width: $MAX_WIDTH) {
    //             top: convertToPx(102);
    //             box-shadow: 0px convertToPx(12) convertToPx(10) #0000001f;
    //         }
    //     }
    //     &.exiting {
    //         opacity: 0;
    //     }
    //     &.exited {
    //         opacity: 0;
    //     }

    //     @media screen and (min-width: $MAX_WIDTH) {
    //         width: convertToPx(375);
    //         padding: convertToPx(11);
    //     }
    //     &-fixed {
    //         position: fixed;
    //         top: convertToVw(102);
    //         z-index: 3;
    //         background-color: #ededed;
    //         box-shadow: 0px convertToVw(12) convertToVw(10) #0000001f;
    //         @media screen and (min-width: $MAX_WIDTH) {
    //             top: convertToPx(102);
    //             box-shadow: 0px convertToPx(12) convertToPx(10) #0000001f;
    //         }
    //     }
    // }
    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }
    @media screen and (min-width: $MAX_WIDTH) {
        max-width: convertToPx(375);
    }

    &-item {
        padding: convertToVw(5) convertToVw(15);
        font-size: convertToVw(15);
        background: #e4e4e4;
        margin: convertToVw(5);
        transition: 0.2s ease-in;
        cursor: pointer;
        &:hover {
            background: #5f9ea093;
        }
        @media screen and (min-width: $MAX_WIDTH) {
            font-size: convertToPx(15);
            padding: convertToPx(5) convertToPx(15);
            margin: convertToPx(5);
        }
    }
}
