@import "./vars";

.popup-display-flex {
    display: flex;
}
.background-green {
    background: $BGC_GREEN_HOVER !important;
}

.button-popup {
    display: flex;
    position: absolute;
    @include VWandMediaPx(145, top);
    @include VWandMediaPx(8, right);
}

.popup {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100vw;
    background: white;
    &-add {
        &-wrapper {
            position: relative;
        }
        &-input {
            @include VWandMediaPx(14, font-size);
            @include VWandMediaPx(5, padding);
            @include VWandMediaPx(140, width);
            @include VWandMediaPx(5, margin-left);
            border: none;
            background: $BGC_GRAY;
            text-align: center;
            &-clear {
                @include VWandMediaPx(14, font-size);
                @include VWandMediaPx(77, right);
                @include VWandMediaPx(6, top);
                background: none;
                border: none;
                position: absolute;
            }
        }
    }

    &-category-item {
        border: none;
        padding: convertToVw(5) convertToVw(15);
        @include VWandMediaPx(15, font-size);
        @include VWandMediaPx(5, margin);
        background: $BGC_GRAY;
        transition: 0.2s ease-in;
        cursor: pointer;
        @media screen and (min-width: $MAX_WIDTH) {
            padding: convertToPx(5) convertToPx(15);
        }
        &-all {
            @include VWandMediaPx(50, width);
        }
        &-edit {
            @include VWandMediaPx(15, font-size);
            transition: 0.2s ease-in;
            position: absolute;
            left: 66%;
            top: -7%;
            border: none;
            background-color: transparent;
        }
        &-delete {
            @include VWandMediaPx(15, font-size);
            transition: 0.2s ease-in;
            position: absolute;
            left: 86%;
            top: -7%;
            border: none;
            background-color: transparent;
        }
        &-wrapper {
            position: relative;
        }
        &:hover {
            background: #5f9ea093;
        }
    }
    &-button {
        display: flex;
        position: absolute;
        @include VWandMediaPx(151, top);
        @include VWandMediaPx(9, right);
    }
    &-wrapper {
        position: fixed;
        height: 100vh;
        background: white;
        z-index: 9999;
        @include VWandMediaPx(375, width);
    }
    &-header {
        display: flex;
        background: cadetblue;
        font-size: 0.6875rem;
        line-height: 1.2;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        align-items: center;
        @include VWandMediaPx(50, height);
    }
    &-title {
        width: 100%;
        margin: 0;
        @include VWandMediaPx(18, font-size);
        @include VWandMediaPx(20, padding-left);
        color: black;
        text-transform: uppercase;
    }
    &-back {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        @include VWandMediaPx(20, padding-left);
        @include VWandMediaPx(20, font-size);
        cursor: pointer;
        svg {
            fill: black;
        }
    }
    &-section {
        padding: convertToVw(10) convertToVw(20);
        position: relative;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $MAX_WIDTH) {
            padding: convertToPx(10) convertToPx(20);
        }
        &::after {
            background-color: #ededed;
            position: absolute;
            top: 0px;
            display: block;
            content: "";
            left: 0;
            z-index: -1;
            @include VWandMediaPx(375, width);
            @include VWandMediaPx(62, height);
        }
        &-title {
            @include VWandMediaPx(18, font-size);
            @include VWandMediaPx(10, padding);
        }
        &-items {
            &-edit {
                flex-direction: column;

                &-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include VWandMediaPx(10, margin-top);
                }
            }
            &-wrapper {
                display: flex;
                @include VWandMediaPx(20, margin-top);
                flex-wrap: wrap;
                align-items: baseline;
            }
        }
    }
}
