@import "./vars";

.entering {
    opacity: 1;
}
.entered {
    opacity: 1;
}
.exiting {
    opacity: 0;
}
.exited {
    opacity: 0;
}

.card-columns {
    display: block;
    content: "";
    width: 1px;
    transition: 0.2s ease-in;
    height: auto;
    &-enter {
        &-active {
            transition: 0.2s ease-in;
            padding-top: 60px;
        }
        &-done {
            transition: 0.2s ease-in;

            padding-top: 60px;
        }
    }
    &-exit {
        &-active {
            transition: 0.2s ease-in;

            padding-top: 0;
        }
        &-done {
            transition: 0.2s ease-in;
            padding-top: 0;
        }
    }
}

.modal-transition-enter {
    transform: translateX(100%);
}
.modal-transition-enter-active {
    transition: transform $POPUP_TRANSITION;
    transform: translateX(0);
}
.modal-transition-exit {
    transform: translateX(0);
}
.modal-transition-exit-active {
    transition: transform $POPUP_TRANSITION;
    transform: translateX(100%);
}

.category-transition-enter {
    transition: 0.2s ease-in;
    opacity: 1;
}
.category-transition-enter-active {
}
.category-transition-exit {
    transition: 0.2s ease-in;
    opacity: 0;
}
.category-transition-exit-active {
}
