@import "./vars";
@import "./header";
@import "./card";
@import "./category";
@import "./popup";
@import "./trasition-group";
.category-wrapper-test-entered + .card-column-wrapper {
    padding-top: convertToVw(40);
    @media screen and (min-width: $MAX_WIDTH) {
        padding-top: convertToPx(30);
    }
}

.category-wrapper-test {
    display: flex;
    justify-content: space-between;
    width: convertToVw(375);
    padding: convertToVw(3) convertToVw(5) 0 0;
    font-size: convertToVw(12);
    align-items: baseline;

    transition: 0.1s ease-in;
    background: $BGC_MAIN;
    @media screen and (min-width: $MAX_WIDTH) {
        width: convertToPx(375);
        padding: convertToPx(3) 0 0 0;
        font-size: convertToPx(12);
        top: convertToPx(100);
    }
    &-entered {
        position: fixed;
        top: convertToVw(100);
        display: flex;
        justify-content: space-between;
        width: convertToVw(375);
        padding: convertToVw(3) convertToVw(5) 0 0;
        font-size: convertToVw(12);
        align-items: baseline;
        transition: 0.1s ease-in;
        background: $BGC_MAIN;
        box-shadow: 0px 3.2vw 2.66667vw #0000001f;
        @media screen and (min-width: $MAX_WIDTH) {
            width: convertToPx(375);
            padding: convertToPx(3) 0 0 0;
            font-size: convertToPx(12);
            top: convertToPx(100);
            box-shadow: 0px 3.2vw 2.66667vw #0000001f;
        }
    }
}

.test {
    background: red;
    transition: 0.2s ease-in;
    opacity: 1;
}

.background-red {
    // transition: 0.2s ease-in;
    background: $BGC_DELETED_ITEM;
}

.fixed-popup-btn {
    position: fixed;
    display: flex;
    top: 143px;
    z-index: 13;
    /* width: 90.13333vw; */
    right: 7px;
}

.category-wrapper-slide-from-top {
    position: absolute;
    left: 0;
}
.category-section-wrapper-copy {
    display: flex;
    flex-direction: column;
}

.button-popup {
    display: flex;
    position: absolute;
    top: 145px;
    right: 8px;
    &-fixed {
        position: fixed;
        display: flex;
        z-index: 13;
        transform: translateX(100px);
        top: 145px;
        right: 8px;
        &.entering {
            opacity: 0;
        }
        &.entered {
            opacity: 1;
            transform: translateX(0px);
        }
        &.exiting {
            opacity: 0;
        }
        &.exited {
            opacity: 0;
        }
    }
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    :hover {
        background: rgba(0, 0, 0, 0.144);
    }
}

#root {
    max-width: 568px;
    background: cadetblue;
}

.overflow-x-enable {
    overflow-x: auto;
}
.overflow-x-disable {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    &::after {
        @media screen and (min-width: $MAX_WIDTH) {
            content: "";
            height: 100vh;
            width: calc(50vw - 285px);
            background-color: white;
            z-index: 9999;
            position: fixed;
            right: 0;
        }
    }
}

.main {
    @include container;
    flex-direction: column;
    background: $BGC_MAIN;
    position: relative;
    top: convertToVw(100);
    @media screen and (min-width: $MAX_WIDTH) {
        top: convertToPx(100);
    }
    &-top {
        padding: 0 convertToVw(15) convertToVw(15) convertToVw(15);
        background: cadetblue;

        &-descr {
            font-size: convertToVw(15);
            @media screen and (min-width: $MAX_WIDTH) {
                font-size: convertToPx(15);
            }
        }

        &-title {
            font-weight: bold;
            font-size: convertToVw(20);
            @media screen and (min-width: $MAX_WIDTH) {
                font-size: convertToPx(20);
            }
        }
        @media screen and (min-width: $MAX_WIDTH) {
            padding: 0 convertToPx(15) convertToPx(15) convertToPx(15);
        }
    }

    &::after {
        position: fixed;
        content: "";
        width: 100vw;
        height: convertToVw(25);
        bottom: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f3f3f3 100%);
        pointer-events: none;
    }
}
