$MAX_WIDTH: 568px;
$MIN_WIDTH: 375px;

$BGC_HEADER: cadetblue;
$BGC_MAIN: #f3f3f3;

$BGC_CATEGORY_ITEM: red;

@function convertToVw($fontSizePx) {
    @return ($fontSizePx / 375) * 100 + vw;
}
@function convertToPx($size) {
    @return $size / 375 * 568 + px;
}

@mixin container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: convertToVw(375);
    margin: 0 auto;
    @media screen and (min-width: $MAX_WIDTH) {
        width: convertToPx(375);
    }
}
#root {
    max-width: 568px;
    margin: 0 auto;
    background: cadetblue;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    :hover {
        background: rgba(0, 0, 0, 0.144);
    }
}

.nav-icon {
    fill: black;
    height: convertToVw(20);
    width: convertToVw(20);
    @media screen and (min-width: $MAX_WIDTH) {
        height: convertToPx(20);
        width: convertToPx(20);
    }

    svg {
    }
    &-cart {
        fill: black;
        height: convertToVw(35);
        width: convertToVw(35);
        @media screen and (min-width: $MAX_WIDTH) {
            height: convertToPx(35);
            width: convertToPx(35);
        }
    }
}

.header {
    @include container;
    background: cadetblue;
    position: fixed;
    z-index: 10;
    @media screen and (min-width: $MAX_WIDTH) {
    }
    &-shadow {
        box-shadow: 0px 12px 10px #0000001f;
    }

    &-top {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    &-avatar {
        &-img {
            max-width: convertToVw(60);
            padding: convertToVw(20) 0 convertToVw(20) 0;
            @media screen and (min-width: $MAX_WIDTH) {
                max-width: convertToPx(60);
                padding: convertToPx(20) 0 convertToPx(20) 0;
            }
        }
    }
    &-social {
        display: flex;
        margin-bottom: convertToVw(20);
        padding-top: convertToVw(5);
        @media screen and (min-width: $MAX_WIDTH) {
            margin-bottom: convertToPx(20);
            padding-top: convertToPx(5);
        }
        &-link {
            padding: convertToVw(5) convertToVw(15);
            @media screen and (min-width: $MAX_WIDTH) {
                padding: convertToPx(5) convertToPx(15);
            }
        }
    }
    &-title {
        font-weight: bold;
        text-align: center;
        font-size: convertToVw(18);
        opacity: 1;
        transition: 0.2s ease-in;
        height: convertToVw(32.01);
        @media screen and (min-width: $MAX_WIDTH) {
            height: convertToPx(32.01);
        }

        &-hidden {
            opacity: 0;
            height: convertToVw(32.01);
            @media screen and (min-width: $MAX_WIDTH) {
                height: convertToPx(32.01);
            }
        }
        @media screen and (min-width: $MAX_WIDTH) {
            font-size: convertToPx(18);
        }
    }
    &-cart {
    }
    &-section {
    }
}

.main {
    @include container;
    flex-direction: column;
    background: $BGC_MAIN;
    position: relative;
    top: convertToVw(100);
    @media screen and (min-width: $MAX_WIDTH) {
        top: convertToPx(100);
    }
    &-top {
        padding: 0 convertToVw(15) convertToVw(15) convertToVw(15);
        background: cadetblue;

        &-descr {
            font-size: convertToVw(15);
            @media screen and (min-width: $MAX_WIDTH) {
                font-size: convertToPx(15);
            }
        }

        &-title {
            font-weight: bold;
            font-size: convertToVw(20);
            @media screen and (min-width: $MAX_WIDTH) {
                font-size: convertToPx(20);
            }
        }
        @media screen and (min-width: $MAX_WIDTH) {
            padding: 0 convertToPx(15) convertToPx(15) convertToPx(15);
        }
    }

    &::after {
        position: fixed;
        content: "";
        width: 100vw;
        height: convertToVw(25);
        bottom: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f3f3f3 100%);
        pointer-events: none;
    }
    .category {
        display: flex;
        padding: convertToVw(15);
        width: convertToVw(375);
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
        @media screen and (min-width: $MAX_WIDTH) {
            padding: convertToPx(15);
            max-width: convertToPx(375);
        }
        &::after {
            position: absolute;
            content: "";
            width: convertToVw(100);
            height: convertToVw(31);
            right: convertToVw(-1);
            top: convertToVw(116);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f3f3f3 100%);
            pointer-events: none;

            @media screen and (min-width: $MAX_WIDTH) {
                width: convertToPx(100);
                height: convertToPx(31);
                top: convertToPx(116);
                right: convertToPx(-1);
            }
        }
        &-item {
            padding: convertToVw(5) convertToVw(15);
            font-size: convertToVw(15);
            background: #e4e4e4;
            margin-right: convertToVw(5);
            transition: 0.2s ease-in;
            cursor: pointer;
            &:hover {
                background: #5f9ea093;
            }
            @media screen and (min-width: $MAX_WIDTH) {
                font-size: convertToPx(15);
                padding: convertToPx(5) convertToPx(15);
                margin-right: convertToPx(5);
            }
        }
    }
    .card {
        width: convertToVw(375);
        @media screen and (min-width: $MAX_WIDTH) {
            width: convertToPx(375);
        }
        &-wrapper {
            padding: convertToVw(10);
            margin: convertToVw(10) 0 convertToVw(10) convertToVw(13);
            background: #ededed;
            width: convertToVw(160);
            cursor: pointer;
            white-space: nowrap;
            display: inline-block;
            box-shadow: 0px convertToVw(12) convertToVw(10) #0000001f;
            transition: 0.2s ease-in;
            &:hover {
                background: #dcdcdc;
            }
            @media screen and (min-width: $MAX_WIDTH) {
                margin: convertToPx(10) 0 convertToPx(10) convertToPx(13);
                box-shadow: 0px convertToPx(12) convertToPx(10) #0000001f;
                padding: convertToPx(10);
                width: convertToPx(160);
            }
        }
        &-avatar {
            &-img {
                width: 100%;
            }
        }
        &-title {
            font-size: convertToVw(18);
            @media screen and (min-width: $MAX_WIDTH) {
                font-size: convertToPx(18);
            }
        }
        &-category {
            display: flex;
            flex-wrap: wrap;

            &-item {
                padding: convertToVw(5);
                background: #5f9ea047;
                margin: convertToVw(5);
                font-size: convertToVw(11);

                @media screen and (min-width: $MAX_WIDTH) {
                    font-size: convertToPx(11);
                    padding: convertToPx(5);
                    margin: convertToPx(5);
                }
            }
        }
    }
}
